@{
    ViewBag.Title = "DSA";
}

<div class="jumbotron">
    <h1>DSA Inventory</h1>
    <p class="lead">Select One of the Following</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg"> Display List </a></p>
</div>

